$fnt900: "Poppins-Black.otf";
$fnt900i: "Poppins-BlackItalic.otf";

$fnt800: "Poppins-ExtraBold.otf";
$fnt800i: "Poppins-ExtraBoldItalic.otf";

$fnt700: "Poppins-Bold.otf";
$fnt700i: "Poppins-BoldItalic.otf";

$fnt600: "Poppins-SemiBold.otf";
$fnt600i: "Poppins-SemiBoldItalic.otf";

$fnt500: "Poppins-Medium.otf";
$fnt500i: "Poppins-MediumItalic.otf";

$fnt400: "Poppins-Regular.otf";
$fnt400i: "Poppins-Italic.otf";

$fnt300: "Poppins-Thin.otf";
$fnt300i: "Poppins-ThinItalic.otf";

$fnt200: "Poppins-Italic.otf";
$fnt200i: "Poppins-LightItalic.otf";

$fnt100: "Poppins-ExtraLight.otf";
$fnt100i: "Poppins-ExtraLightItalic.otf";